.header {
    text-align: center;
}

span.amount{
    padding-left: 50px;
}

hr{
    color: white;
}

table{
    border-color: gray;
}

td.label{
    width: 200px;
}

td{
    width: 300px;
}

#MadeItem{
    height: 50px;
}

td.aling-right{
    text-align: right;
}