<div class="row">
    <div class="header">
        <h1>Cig Kofteci</h1>
    </div>

    <hr /> <br />

    <div class="content">
        <div>
            <label for="amount">Mevcut Cig Kofte Adeti:</label>
            <span class="amount">{{ this.game.ItemAmount }}</span>
        </div>

        <br />

        <div>
            <button id="MadeItem" (click)="this.game.MadeItem()">Cig Kofte Uret</button>
        </div>

        <hr />

        <table>
           <tr>
               <td class="label">Mecut Malzeme:</td>
               <td> {{ this.game.MaterialAmount }} kg 
                   <span>
                       <button (click)="this.game.BuyMaterial()">Malzeme Satin Al ({{ this.game.MaterialBuyCost }} ₺)</button>
                   </span>
               </td>
           </tr>
           <tr>
               <td class="label">Para Mikari:</td>
               <td> {{ this.game.Money }} ₺</td>
           </tr>
           <tr>
               <td class="label"></td>
               <td></td>
           </tr>
           <tr>
               <td class="label"></td>
               <td></td>
           </tr>
           <tr>
               <td class="label"></td>
               <td></td>
           </tr>
        </table>

    </div>
</div>