<div class="row" [hidden]="this.game.IsOver">
    <div class="header">
        <h1>Cocuk Adam Cig Kofte Salonu</h1>
    </div>

    <hr /> <br />

    <div class="content">
        <div>
            <table>
                <tr>
                    <td><label for="">Mevcut Cig Kofte Adeti:</label></td>
                    <td>{{ this.game.ItemAmount }}</td>
                    <td><button id="MadeItem" (click)="this.game.MadeItem()">Cig Kofte Uret</button></td>
                </tr>
            </table>
        </div>

        <br />

        <div class="row">
            <h2> Personel Yonetimi </h2>
            <hr />

            <table>
                <tr>
                    <td>
                        <button [ngClass]="{buttonGreen: this.game.AutomationStatus('ERRAND'), buttonRed: !this.game.AutomationStatus('ERRAND')}" (click)="this.game.ToggleAutomation('ERRAND')">Cirak</button>
                    </td>
                    <td>
                        <button [ngClass]="{buttonGreen: this.game.AutomationStatus('FOREMAN'), buttonRed: !this.game.AutomationStatus('FOREMAN')}" (click)="this.game.ToggleAutomation('FOREMAN')">Kalfa</button>
                    </td>
                    <td>
                        <button [ngClass]="{buttonGreen: this.game.AutomationStatus('EXPERT'), buttonRed: !this.game.AutomationStatus('EXPERT')}" (click)="this.game.ToggleAutomation('EXPERT')">Usta</button>
                    </td>
                    <td>
                        <button [ngClass]="{buttonGreen: this.game.AutomationStatus('MANAGER'), buttonRed: !this.game.AutomationStatus('MANAGER')}" (click)="this.game.ToggleAutomation('MANAGER')">Depo Per.</button>
                    </td>
                    <td></td>
                </tr>
            </table>

            <hr />
        </div>

        <h2> Isletme </h2>
        <hr />

        <table>
           <tr>
               <td class="label">Mecut Malzeme:</td>
               <td class="aling-right"> 
                   {{ this.game.MaterialAmount }} gr
               </td>
               <td>
                    <button [disabled]="!this.game.CanBuyMaterial"
                    (click)="this.game.BuyMaterial(true)">Malzeme Satin Al ({{ this.game.MaterialBuyCost }} ₺)</button>
               </td>
           </tr>
           <tr>
               <td class="label">Para Mikari:</td>
               <td class="aling-right"> {{ this.game.Money }} ₺</td>
               <td></td>
           </tr>
           <tr>
               <td class="label">Birim Satis Fiyati:</td>
               <td class="aling-right"> 
                   {{ this.game.ItemPrice }} ₺                  
               </td>    
               <td>
                    <span>
                        <button (click)="this.game.IncreasePrice()">+</button>
                        <button (click)="this.game.DecreasePrice()">-</button>
                    </span>
               </td>    
           </tr>
           <tr>
               <td class="label">Halkin Talebi:</td>
               <td class="aling-right"> %{{this.game.DemandRate}} </td>
               <td></td>
           </tr>
           <tr>
               <td class="label">Saniyedeki Uretim:</td>
               <td class="aling-right">{{ this.game.Production }}</td>
               <td></td>
           </tr>
           <tr>
                <td class="label">Topam Uretim:</td>
                <td class="aling-right">{{ this.game.TotalProduction }}</td> 
                <td></td>
            </tr>
        </table>

        <br />

        <h2> Calisanlar </h2>
        <hr />

        <table>
            <tr>
                <td class="label">Cirak Sayisi:</td>                
                <td class="aling-right">{{ this.game.ErrandCount }} 
                </td>
                <td>
                    <Button [disabled]="!this.game.CanBuyErrandBoy" (click)="this.game.BuyErrandBoy()">Satin Al({{this.game.ErrandBoyBuyCost}} ₺)</Button>
                </td>
            </tr>
            <tr>
                <td class="label">Kalfa Sayisi:</td>                
                <td class="aling-right">{{ this.game.ForemanCount }}                    
                </td>
                <td>
                    <Button [disabled]="!this.game.CanBuyForeman" (click)="this.game.BuyForeman()">Satin Al({{this.game.ForemanBuyCost}} ₺)</Button>
                </td>
            </tr>
            <tr>
                <td class="label">Usta Sayisi:</td>                
                <td class="aling-right">{{ this.game.ExpertCount }}                    
                </td>
                <td>
                    <Button [disabled]="!this.game.CanBuyExpert" (click)="this.game.BuyExpert()">Satin Al({{this.game.ExpertBuyCost}} ₺)</Button>
                </td>
            </tr>
            <tr>
                <td class="label">Depo Personeli:</td>                
                <td class="aling-right">{{ this.game.WarehouseManagerStr }} 
                </td>
                <td>
                    <Button [hidden]="this.game.WarehouseManager" [disabled]="!this.game.CanBuyWarehouseManager" (click)="this.game.BuyWarehouseManager()">Satin Al(500 ₺)</Button>
                </td>
            </tr>
        </table>               

    </div>
</div>

<div class="row" [hidden]="!this.game.IsOver">
    <br />

    <h1>Game over!</h1>

    <table>
        <tr>
            <td>Toplam Gecen Sure:</td>
            <td> {{this.game.TotalPlayTime | date:'mm:ss'}}</td>
        </tr>
        <tr>
            <td>Toplam Uretilen Cig Kofte:</td>
            <td> {{this.game.TotalProduction}} </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

    <button class="reset-button" (click)="this.game.Start()">Yeniden Basla</button>

</div>